body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f4f7;
}

/* ----------------  */
/* DASHBOARD LAYOUT  */
/* ----------------  */

.dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #f3f4f6;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    font-size: 20px;
    transition: transform 0.2s ease;
}

/* rotate arrow when open */
.arrow.open {
    transform: rotate(90deg);
}

/* Logo */
.sidebar-logo {
    width: 100%;
    padding: 5px 20px;
    border-bottom: 1px solid #ddd;
}

.sb-logo {
    width: 150px;
}

/* Groups */
.sidebar-group {
    margin-top: 10px;
}

/* Main item */
.sidebar-item {
    padding: 12px 20px;
    font-weight: 500;
    cursor: pointer;
    color: #333;
}

.sidebar-item:hover {
    background: #e7e7e7;
}

/* Submenu */
.sidebar-submenu {
    display: flex;
    flex-direction: column;
}

/* Sub items */
.sidebar-link {
    padding: 10px 40px;
    font-size: 14px;
    cursor: pointer;
    color: #444;
}

.sidebar-link:hover {
    background: #eeeeee;
}

.sidebar-active {
    background: #e7e7e7;
    font-weight: 600;
    cursor: auto;
}

.sidebar-active:hover {
    background: #e7e7e7;
    cursor: auto;
}

/* MAIN AREA */
.main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* TOP NAVBAR */
.top-navbar {
    height: 60px;
    background: #4784BF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

/* Logout */
.btn-logout {
    background: white;
    color: #4784BF;
    border: none;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.btn-logout:hover {
    background: #f2f2f2;
}

/* MAIN CONTENT */
.main-content {
    flex: 1;
    background: #f4f6f9;
    /* padding: 30px; */
    padding-top: 20px;
    overflow-y: auto;
    /* Added this so your main content scrolls if the table is too long */
}